body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 65px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    border-style: outset;
    border-color: black ;
    box-shadow: 2px 2px 15px white;
}

.boton-ancla {
    color: #ffffff;
    background-color: black;
    height: 40px;
    width: 130px;
    margin-left: 10px;
}

.boton-ancla:hover {
    border-color: lightskyblue;
    transform: scale(1.1); 
    z-index: 1; 
}


/*-------------------------------------------------------------------------------------------------*/
#uno {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00040e;
    color: white;   
}



.cara {

    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px black;
    filter: brightness(85%);
    
}

.cara:hover {
    border-color: lightskyblue;
    transform: scale(1.5); 
    z-index: 1; 

}

.presentacion{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.informacion{
    text-align: center;
}

.sobre {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}

/*-------------------------------------------------------------------------------------------------*/
#dos {
    background-color: #F2F2F2;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000000;
}

.dos-a {
    width: 100%;
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 5px 5px 15px black;
}
.dos-a:hover {
    color: #ffffff;
    background-color: #00040e;
    
}

.dos-b {
    width: 100%;
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 5px 5px 15px black;
}
.dos-b:hover {
    color: #ffffff;
    background-color: #00040e;
}


.aptitudes {
    width: 100%;
}

.tech-list {
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
}

.imagen-tech {
    height: 90px;
}

/*-------------------------------------------------------------------------------------------------*/
#tres {
    background-color: #00040e;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
}

.proyectos {
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.card {
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    box-shadow: 10px 10px 15px black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
    background-color: black;

}

.card:hover {
    border-color: lightskyblue;
    transform: scale(1.1); 
    height: auto;
    z-index: 1; 

}

.card img {
    width: 100%;
}

.card a,
footer a {
    color: white;
}

/*-------------------------------------------------------------------------------------------------*/

footer {
    background-color: #00040e;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    height: 100%;
}

.contacto {
    width: 30%;
    display: flex;
    justify-content: center;
}

.red-social {
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px;
    border-radius: 50%;
}

.red-social:hover {
    transform: scale(1.5); 
    z-index: 1; 
}



/*-------------------------------------------------------------------------------------------------*/


@media (max-width: 1000px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    .boton-ancla {
        width: 100%;
        margin-top: 10px;
        margin-left: 10px;
        height: 40px;
        width: 100px;
    }

    header {
        height: auto;
        align-items: center;
    }
    
    /*---------------------------------------------------------------------------------------------*/
    
    #uno {
        height: auto;
        flex-direction: column;
        align-items: center; 
        
    }
    
    
    
    .cara {
        height: auto;
        margin-left: 20%;
    }

    .informacion {
        text-align: center;
    }

    .sobre {
        width: 100%; 
        display: grid;
        justify-content: left;

    }

    /*---------------------------------------------------------------------------------------------*/

    .aptitudes {
        width: auto;
    }

    #dos {
        height: auto;
        flex-direction: column;
        align-items: center;

    }

    .dos-a {
        margin: 10px 0;
        width: 90%;
    }

    .imagen-tech {
        height: 100px;
        width: 100px;
        margin: 0;
    }
    .dos-b {
        margin-left: 10px 0;
        width: 90%;
    }
    /*---------------------------------------------------------------------------------------------*/

    #tres {
        height: auto;
        

    }

    .card {
        width: 80%;
        margin-bottom: 10px;
        
    }

    .proyectos {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        
        padding-bottom: 20px;
    }

    footer{
        height: 100%;
        width: 100%;
             
    }

    
}