<main class="flex flex-col items-center justify-center min-h-screen text-white px-4">
    <div class="text-center border-b border-gray-700 pb-8 w-full max-w-2xl">
        <h1 class="text-5xl md:text-6xl font-extrabold tracking-tight mb-2 transition duration-300">
            Matias E. Smania
        </h1>
        <p class="text-2xl md:text-3xl font-light text-gray-300">
            Desarrollador de Software
        </p>
    </div>

    <p class="mt-10 text-lg text-gray-400 animate-fade-in-up">
        Bienvenido/a a mi Portfolio Web
    </p>
</main>